name: Go Build Pipeline

on:
  workflow_call:
    inputs:
      go-version:
        type: string
        default: "1.25"
      working-directory:
        type: string
        default: "."

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Go build & test
        uses: pyjlos/cicd/actions/build/go-build.yaml@v1.0.2
        with:
          go-version: ${{ inputs.go-version }}
          working-directory: ${{ inputs.working-directory }}